


h1 {
	font-size: 6em;
}
h2 {
	font-size: 4em;
}


/*placeholder*/
::-webkit-input-placeholder {
   color: #e2e2e2;
}

:-moz-placeholder { /* Firefox 18- */
   color: #e2e2e2;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #e2e2e2;  
}

:-ms-input-placeholder {  
   color: #e2e2e2;  
}

input {
	border:none;
	box-shadow: none;
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    outline:none;
}

/* Notifications */
#alert {
	height:80px;
	width: 200px;
	position: fixed;
	border-radius: 20px;
	border: 5px solid;
	text-align:center;
	top:0;
	left: 50%;
	margin-top: -20px;
	line-height: 80px;
	display: none;
}

.info{
	color:#00529B;
	background:#BDE5F8;
}
.success{
	color:#4F8A10;
	background:#DFF2BF;
}
.warning{
	color:#9F6000;
	background:#FEEFB3;
}
.failure {
	color:#D8000C;
	background:#FFBABA;
}

.project_description_input {
	color:gray;
}


.task {
	padding: 25px 5px 5px 5px;
	border-bottom: 3px solid black;
	font-size: 5em;
}

.sub_task {
	margin-left: 20px;
	padding: 2px 20px 4px;
	border-left: 3px solid black;
	font-size: 2em;
}





input[type="checkbox"] {
    display:none;
}

input[type="checkbox"]:checked + label {
	color: gray;
	opacity: .5;
	text-decoration: line-through;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    background:green;
}

input[type="checkbox"] {
    display:none;
}

